.entry {
    background-color: $background-color-white-linen;
    color: $text-color-tuna;

    &__container {
        display: flex;
        justify-content: space-around;
    }

    &__title {
        box-shadow: -5px 5px 20px $book-box-shadow;
    }

    &__content {
        box-shadow: -5px 5px 20px $book-box-shadow;
    }
}

.entrie {
      text-decoration: none;
      word-break: break-all;
      min-height: 180px;
      padding: 1rem;

    &__title {
        font-size: 1.5rem;
        padding-bottom: 0.5rem;
        font-weight: 800;
    }

    &--content {
        font-size: 1.2rem;
        max-height: 50vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}
