.button {
    border-radius: 2.5rem;
    height: 2.5rem;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;

    &--primary {
        width: 10rem;
        background: $PRIMARY;
        color: $WHITE;
    }

    &--secundary {
        width: 7.5rem;
        background: transparent;
        color: $PRIMARY;
        border: 1px solid #834825;
    }
}
