.journalList {
    overflow: hidden;

    .title {
        margin-top: 40px;
        width: 35vw;
        height: 30vh;
        background: #B8E5E3;
        border-radius: 4px;
        box-shadow: inset -2px -2px 2px rgba(0, 0, 0, 0.1);
    }
  
    &-container {
        align-content: flex-start;
        overflow: scroll;
        height: calc(100% - 2rem);
        padding-top: 2rem;
    }
}
