header {
    height: 30vh;
    align-items: flex-end;

    a {
        text-decoration: none;
    }
}

.authenticated, .authenticatedWithButton {
    align-items: center;
    height: 5vh;
}

.logo {
    &--small {
        height: 1.9rem;
    }

    &--large{
        height: 2.6rem;
    }
}
