.header {

    &--small {
        height: 5vh;
        margin-bottom: 2rem;

        .back {
            height: 1.4rem;
            margin: 0 1.3rem 0.2rem 0;
        }

        .logo {
            height: 1.9rem;
        }
    }

    &--large{
        height: 30vh;
        align-items: flex-end;

        .logo {
            height: 2.6rem;
        }
    }
}

.nav__title {
    display: flex;
    align-items: center;
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    cursor: pointer;

    color: #000000;
}
    