.header {

    &--small {
        height: 5vh;
        align-items: center;

        img {
            height: 1.9rem;
        }
    }

    &--large{
        height: 30vh;
        align-items: flex-end;

        img {
            height: 2.6rem;
        }
    }
}

.nav__title {
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    cursor: pointer;

    color: #000000;
}
    