.journal {
    margin: 10% auto;
    height: 16rem;
    width: 14rem;
    background: #F8E5D6;
    mix-blend-mode: normal;
    border-radius: 2px 16px 16px 2px;
    box-shadow: inset 0px 2px 2px rgba(255, 255, 255, 0.25), inset -4px -4px 2px rgba(0, 0, 0, 0.1);
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.05));

    &-cover {
        width: 80%;
    }

    &-spine {
        height: 100%;
        width: 10%;
        background: #F8E5D6;
        box-shadow: inset 0px 2px 2px rgba(255, 255, 255, 0.25), inset -4px -4px 2px rgba(0, 0, 0, 0.1);
        border-radius: 2px 0px 0px 2px;

        &--impar, &--par {
            background: #5091D6;
        }
    }

    &--par, &--impar {
        margin: 0;
        height: 25vh;
        width: 100%;
    }

    &--par {
        background: #3B4E8D;
    }

    &--impar {
        background: #B8E5E3;
    }

    &-title {
        max-height: 90%;
        font-family: 'Abhaya Libre', serif;
        line-height: 1.8rem;
        padding: 0.5rem;
        overflow-x: hidden;
        text-overflow: ellipsis;
        color: #000000;
    }
}
